@import 'https://fonts.googleapis.com/css?family=Roboto';

svg {
  background-image: url(https://www.starwarshq.com/uploads/monthly_2015_09/stormtrooper__ultra_hi_res_textless_poster__by_aracnify-d993dun.jpg.4f0a840c3574577943072a092d1d8903.jpg);
}

body {
  background-image: url(http://images.techtimes.com/data/images/full/19818/scene-from-star-wars.jpg);
}

h1 {
  color: yellow;
  text-align: center;
}

p {
  color: orange;
  font-family: Roboto;
}
